@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.fontPoppins {
    font-family: 'Poppins', sans-serif;
}

.fontBebas {
    font-family: "Bebas Neue", sans-serif;
}

.fontNoto {
    font-family: 'Noto Serif Devanagari', sans-serif;
}

.fontKalnia {
    font-family: 'Kalnia', serif;
}

.fontArya {
    font-family: 'Arya', sans-serif;
}

body {
    font-family: 'Noto Serif Devanagari', sans-serif;
}

.header_background {
    background: hsla(16, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
}

.form_shaddow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.benifits_shaddow {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.img_shaddow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}